@import "tailwindcss";

@keyframes logoPulse {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-logo-pulse {
  animation: logoPulse 1.5s ease-out forwards;
}
